@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

/*body{
    background-image: url(../assets/batalha-background.png);
    background-position: center;
    background-size: 100%;
}*/

.duelo {
    background-image: url(../assets/assets-gerais.jpg);
    background-position: top;
    background-size: cover;
    height: 150vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.jogador {
    height: 50vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: var(--jogador-imagem);
    left: 10vw;
    top: 48vh;
}

.oponente {
    height: 45vh;
    width: 25vw;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: var(--oponente-imagem);
    right: 13vw;
    top: 18vh;
}

.nivel_oponente {
    height: 5vh;
    width: 5vw;
    position: absolute;
    left: 35vw;
    top: 22vh;
    font-size: 45px;
    text-align: center;
}

.nome_oponente {
    height: 5vh;
    width: 28vw;
    position: absolute;
    left: 3vw;
    top: 19vh;
    font-size: 45px;
    text-align: center;
}

.vida_oponente {
    height: 5vh;
    width: 28vw;
    position: absolute;
    left: 2vw;
    top: 29vh;
    font-size: 50px;
    text-align: start;
}

.nivel_jogador {
    height: 5vh;
    width: 5vw;
    position: absolute;
    right: 2vw;
    top: 76vh;
    font-size: 40px;
    text-align: end;
}

.nome_jogador {
    height: 5vh;
    width: 28vw;
    position: absolute;
    right: 13vw;
    top: 72vh;
    font-size: 45px;
    text-align: center;
}

.vida_jogador {
    height: 5vh;
    width: 16vw;
    position: absolute;
    right: 8vw;
    top: 87vh;
    font-size: 100px;
    text-align: start;
}

.move01 {
    height: 5vh;
    width: 50vw;
    position: absolute;
    left: 2vw;
    bottom: -20vh;
    font-size: 70px;
    text-align: center;
}

.move02 {
    height: 5vh;
    width: 50vw;
    position: absolute;
    right: 2vw;
    bottom: -20vh;
    font-size: 60px;
    text-align: center;
}

.move03 {
    height: 5vh;
    width: 50vw;
    position: absolute;
    left: 2vw;
    bottom: -35vh;
    font-size: 70px;
    text-align: center;
}

.move04 {
    height: 5vh;
    width: 50vw;
    position: absolute;
    right: 2vw;
    bottom: -40vh;
    font-size: 70px;
    text-align: center;
}

.mensagem{
    height: 5vh;
    width: 50vw;
    position: absolute;
    right: 40vw;
    bottom: -30vh;
    font-size: 70px;
    text-align: center;
}