/*:root{

}*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(198, 198, 253);
}

h1{
    position: absolute;
    left: 35vw;
    top: 2vh;
    font-size: 70px;
}

.gato {
    height: 50vh;
    width: 25vw;
    position: absolute;
    right: 18vw;
    top: 25vh;
    background-image: var(--gato-imagem);
    background-size: cover;
    background-position: center;
}

.pokemon {
    height: 50vh;
    width: 25vw;
    position: absolute;
    left: 18vw;
    top: 25vh;
    background-image: var(--pokemon-imagem);
    background-size: cover;
    background-position: center;
}